<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumPracticeTest-Suite" parallel = "classes" thread-count="2">
	<listeners>
		<listener class-name="com.util.ExtentReporterNG" />
	</listeners>
	<test name="EmpManagementAPITestingUsingRestAssured">
		<classes>
			<class name="com.EmployeManagement.tests.EmployeeManagementTest" />
		</classes>
	</test>
</suite>